<div class="buttons">
    <button type="button" class="btn btn-outline-secondary" (click)="header.clear()">Clear Filters</button>
</div>
<table class="table table-hover table-flip-md" [class.is-loading]='isFetching | async'>
    <thead>
        <tr bgt-data-table-header-row
            [configs]="headers" 
            [sort]="sortState | async"
            [filters]="filterState | async"
            (sortChange)="onSort($event)" 
            (filtersChange)="onFilter($event)"
            #header>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let user of (page | async).data; trackBy: trackUser">
            <td class="max-lg-3" title="{{user.name}}">{{user.name}}</td>
            <td>{{user.role === 0 ? 'Admin' : (user.role === 1) ? 'Editor' : 'Reader'}}</td>
            <td>{{user.status === 0 ? 'Locked' : (user.status === 1 ? 'Disabled' : null)}}</td>
            <td>{{user.color === 'r' ? 'Red' : (user.color === 'y' ? 'Yellow' : 'Blue')}}</td>
            <td>{{user.creationDate | date: 'MM/dd/yyyy h:mm a'}}</td>
            <td>{{user.lastLoginDate | date: 'MM/dd/yyyy h:mm a'}}</td>
            <td class="fit-to-content">
                <div class="actions">
                    <i class="fa fa-pencil icon action" 
                        ngbTooltip="Edit" 
                        placement="top"></i>
                    <i class="fa fa-eye icon action" 
                        ngbTooltip="View" 
                        placement="top"></i>
                    <i class="fa fa-trash icon action action-danger"
                        ngbTooltip="Delete" 
                        placement="top"></i>
                </div>
            </td>
        </tr>
    </tbody>
</table>
<bgt-data-table-footer 
    [page]="page | async"
    [lastUpdatedOn]="lastUpdated | async"
    (pageChange)="onPageChange($event)"
    (refresh)="refresh()">
</bgt-data-table-footer>